body {
  margin: 0;
  padding: 0;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
}
.header-wrapper ul {
  display: flex;
}

.header-wrapper ul li {
  list-style-type: none;
  padding: 5px;
}
.header-wrapper ul li a {
  text-decoration: none;
  font-weight: bold;
  color: blueviolet;
}
.header-wrapper ul li button {
  background-color: transparent;
  border: none;
  color: blueviolet;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.footer-wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 10px;
  background-color: #fff;
  text-align: center;
}

/* .input-error{
    position: absolute;
    padding: 8px;
    color: red;
    font-size: 13px;
} */

/* .input-wrapper {
  margin: 10px;
} */

.input-field {
  width: 200px;
  height: 30px;
}

.button {
  width: 200px;
  height: 30px;
}
.container {
  text-align: center;
}
.button-link {
  border: 0;
  cursor: pointer;
  background-color: transparent;
  color: skyblue;
  margin: 20px;
}

.input-error {
  position: absolute;
  padding: 8px;
  color: red;
  font-size: 13px;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}

table td button {
  margin: 5px;
}

table img {
  width: 80px;
}

.main-page-banner,
.restaurant-page-banner {
  background-image: url("https://img.freepik.com/free-photo/top-view-fast-food-mix-mozzarella-sticks-club-sandwich-hamburger-mushroom-pizza-caesar-shrimp-salad-french-fries-ketchup-mayo-cheese-sauces-table_141793-3998.jpg?semt=ais_hybrid&w=740&q=80");
  height: 230px;
  text-align: center;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
  color: #fff;
}

.input-wrapper {
  background-color: #fff;
  padding: 5px;
  /* border: 1px solid #ccc; */
  border-radius: 4px;
  width: 60%;
  margin: auto;
}

.select-input {
  height: 40px;
  border: none;
  padding-left: 15px;
  width: 25%;
}

.search-input {
  height: 40px;
  border: none;
  padding-left: 15px;
  border-left: 1px solid #ccc;
  width: 45%;
}

.location-list {
  color: #000;
  background-color: #fff;
  text-align: left;
  list-style-type: none;
  position: absolute;
  margin: 0;
  padding: 0;
  margin-left: -5px;
  border: 1px solid #ccc;
}

.location-list li {
  width: 180px;
  padding: 5px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.restaurant-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-bottom: 50px;
}
.restaurant-wrapper {
  width: 45%;
  background-color: orange;
  margin: 10px;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
  cursor: pointer;
}
.restaurant-wrapper .heading-wrapper,
.restaurant-wrapper .address-wrapper {
  padding-left: 15px;
  display: flex;
  justify-content: flex-start;
}
.restaurant-wrapper h5 {
  margin-left: 15px;
}

.restaurant-wrapper .address {
  margin-left: 5px;
}

.restaurant-page-banner h1 {
  font-size: 65px;
}

.details-wrapper {
  display: flex;
  background-color: orange;
}
.details-wrapper h3 {
  width: 50%;
}

.food-list-wrapper {
  margin-bottom: 50px;
  margin-top: 50px;
}

.food-list-wrapper .list-item {
  color: orange;
  font-weight: bold;
  border-bottom: 1px solid;
  padding: 20px;
  display: flex;
  text-transform: capitalize;
}
.food-list-wrapper .list-item .description {
  font-weight: lighter;
}

.food-list-wrapper .list-item button {
  color: #fff;
  background-color: orange;
  border: 0;
  padding: 10px;
  cursor: pointer;
  margin-top: 5px;
  border-radius: 5px;
}
.food-list-wrapper .list-item img {
  width: 100px;
  padding-right: 20px;
}
