.header-wrapper{
    display: flex;
    justify-content: space-between;
}
.header-wrapper ul{
    display: flex;
}

.header-wrapper ul li{
    list-style-type: none;
    padding: 5px;
}
.header-wrapper ul li a{
    text-decoration: none;
    font-weight: bold;
    color: blueviolet;
}
.header-wrapper ul li button{
    background-color: transparent;
    border: none;
    color: blueviolet;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.footer-wrapper{
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 10px;
    background-color: #fff;
    text-align: center;
}

/* .input-error{
    position: absolute;
    padding: 8px;
    color: red;
    font-size: 13px;
} */